opencv-python==4.10.0.84
facenet-pytorch==2.5.3
torch==2.3.1
torchvision==0.18.1
numpy==1.26.4
PyYAML==6.0.1
python-dotenv==1.0.1
soundfile==0.12.1
librosa==0.10.2.post1
resemblyzer==0.1.3
moviepy==1.0.3
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
pandas==2.2.2
tqdm==4.66.4
rich==13.7.1
Pillow==10.4.0
pytest==8.3.2